%h1 Accueil 
%p Bienvenue sur notre site

%p 
  Contactez nous 
  = link_to 'ici', '/contact'

%p
  Acceder à mon compte
  = link_to 'ici', '/my_account'
%p
  Liste de produit
  = link_to 'ici', '/product'
